body   {
    line-height: 20px;
    font-size: 20px;
}
h1 {
    font-weight: bold;
    text-decoration: underline;
}

.datas {
    
    line-height: 27px;
}

.summarylogo {
	position: absolute; 
	left: 0px; /* posiciona a 90px para a esquerda */ 
	top: 230px; /* posiciona a 70px para baixo */
	}

h2 {
        font-weight: bold;
        text-indent: 50px;
    }

